{% extends "base.html" %}
{% block content %}
    <div class="login-container">
        <div class="login-box">
            <h1 class="login-title">Login</h1>
            <form method="POST" action="{{ url_for('routes.login') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
                <div class="form-check mb-3">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block btn-lg") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
